/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  flex: 1;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-wrapper {
  flex: 1;
  padding-top: 40px;
  padding-left: 140px;
  padding-right: 140px;
}
.main-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

.greeting-title {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
}

.greeting-text {
  font-size: 24px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 40px;
}

#search-input {
  padding: 0;
}

#search-input:after, #search-input:before {
  display: none;
  opacity: 0;
}

.btn-wrapper {
  margin-top: 20px;
}

.favourites-wrapper {
  flex: 0.75;
  background-color: #F8F8F8;
  padding: 40px;
}

.favourite-title {
  color: #ABABAB;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}
.favourite-secondary-title {
  display: none;
  float: right;
}
.favourite-menu-btn {
  cursor: pointer;
  display: none;
  float: right;
  width: 28px;
  height: 28px;
  background-image: url('./menu_btn.png');
}

@media (max-width: 1200px) {
  .main-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .favourites-wrapper {
    flex: 1;
  }
}
@media (max-width: 840px) {
  .container {
    display: block;
  }
  .favourite-title {
    display: none;
  }
  .favourite-secondary-title {
    color: #ABABAB;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    top: 40px;
    right: 30px;
    display: inline-block;
  }
  .favourites-wrapper {
    background: transparent;
  }
  .main-wrapper {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .favourite-inner {
    display: flex;
    flex-flow: row-reverse;
    background: rgba(0,0,0,0.3);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    visibility: hidden;
  }
  .favourite-inner.show {
    visibility: visible;
  }
  .favourite-menu-btn {
    position: absolute;
    top: 40px;
    right: 120px;
    display: inline-block;
  }
  .favourite-inner.show .favourite-menu-btn {
   background-image: url('./close_btn.png');
  }
  .favourite-inner-wrapper {
    position: relative;
    background-color: #F8F8F8;
    width: 75%;
    padding: 30px;
    padding-top: 80px;
    overflow-y: auto;
  }
}

@media (max-width: 500px) {
  .main-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .favourite-inner-wrapper {
    width: 100%;
  }
}

.error-message {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #f00;
}